[gerrit]
	basePath = git
	serverId = 3f213288-8f6e-48ad-8a39-b9b10f36a883
	canonicalWebUrl = http://b11001e0a3ec:8080/
[database]
	type = h2
	database = /var/gerrit/review_site/db/ReviewDB
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
	enable = false
[container]
	user = gerrit2
	javaHome = /usr/lib/jvm/java-1.8-openjdk/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
[plugin "events-log"]
	storeUrl = jdbc:h2:/var/gerrit/review_site/db/ChangeEvents
[gitweb]
	cgi = /usr/share/gitweb/gitweb.cgi
	type = gitweb
